<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dopple Bot</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        function goToLobby() { window.location.href = "/lobby"; }
    </script>
</head>
<body>
    <div class="title-container">
        <!--<h1 class="glow">DOPPLE BOT</h1>-->
        <div class="stack" style="--stacks: 3;">
            <span style="--index: 0;">DOPPLE BOT</span>
            <span style="--index: 1;">DOPPLE BOT</span>
            <span style="--index: 2;">DOPPLE BOT</span>
        </div>
        <p class="subtitle">Can you tell who's real?</p>
        <button class="play" onclick="goToLobby()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Play
        </button>
    </div>
</body>
</html>
